<div class='container' ng-controller="ChoreController">
  <h1>Chores</h1>

  <div ng-repeat='chore in chores'>
    <p>
    {{chore.title}}
    </p>
    <p>
    {{chore.description}}
    </p>
    <button class="btn btn-info btn-sm" ng-click='setEditChore(chore);'>Edit Chore</button>
    <button class="btn btn-danger pull-right btn-sm" ng-click='deleteChore(chore);'>Delete Chore</button>
  </div>

  <div ng-show="!editable">
    <h1>New Chore </h1>
    <p>Title:  {{title}}</p>
    <p>Description: {{description}} <p>
    <form name="personForm">
      <div class="form-group">
        <input id='input' class="form-control" type="text" ng-model="title" placeholder="Tile of Chore">
      </div>
      <div class="form-group">
        <input id='input' class="form-control" type="text" ng-model="description" placeholder="Description of Chore">
      </div>
      <button class="btn btn-success btn-sm" ng-click='create()'>Create Chore</button>
    </form>
  </div>

  <div ng-show="editable">
    <h1> Editing {{editedChore.title}} Chore</h1>
    <form name="personForm">
      <input id='input' type="text" ng-model="editedChore.title" placeholder="Tile of Chore">
      <input id='input' type="text" ng-model="editedChore.description" placeholder="Description of Chore">
      <button  class="btn btn-info btn-sm" ng-click='edit(editedChore)'>Edit Chore</button>
      <button  class="btn btn-default pull-right btn-sm" ng-click='cancelEdit()'>Cancel</button>
    </form>
  </div>
</div>
